extends layout

block main
  form(action=`/signin` method="post")
    dl
      dt
        label(for="usernames") Username:
      dd
        input(type="text"
              name="username"
              placeholder="username"
              value=username)
      dt
        label(for="password") Password:
      dd
        input(type="text"
              name="password"
              placeholder="password")
    fieldset.actions
      input(type="submit" value="Sign in")
      a(href="/signup") Sign up

block signin